PORT=8080
MONGO_URI= 

## CONFIGURACIONES
EMAIL_REGEX=/^[a-zA-Z0-0._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/
PASSWORD_MIN_LENGTH=8

NODE_ENV=production
JWT_SECRET=
JWT_EXPIRES_IN=1h

## GITHUB OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8080/api/sessions/github/callback

## MAIL CONFIG
MAIL_PORT = 
MAIL_HOST = 
MAIL_USER = 
MAIL_PASS = 